{% extends "layout.html" %}
{% block title %}{{type}} Item{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div class="container-fluid">
    <div class="h3">{{type}} Item</div>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{render_field(form.name)}}
        {{render_field(form.description)}}
        {{render_field(form.category)}}
        {{render_field(form.stock)}}
        {{render_field(form.unit_price)}}
        {{render_field(form.visibility)}}
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
{% endblock %}