{% extends "layout.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
{% from "company_dropdown.html" import company_dropdown %}
<div class="container-fluid">
    <div class="h1">Add Employee</div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for
            first_name (required)
            last_name (required)
            email (required)
            if a validation error occurs, the inserted form data should persist
            #}


            <div class="form-group mb-3">
                <label for="first_name" class="form-label">first_name</label>
                <input id="first_name" class="form-control" name="first_name" type="text" value="">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->

            <div class="form-group mb-3">
                <label for="last_name" class="form-label">last_name</label>
                <input id="last_name" class="form-control" name="last_name" type="text" value="">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->

            <div class="form-group mb-3">
                <label for="email" class="form-label">email</label>
                <input id="email" class="form-control" name="email" type="email" value="">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->
            {# use the below for company selection #}
            {{ company_dropdown() }}
            <input type="submit" class="btn btn-primary" value="Save Employee" />
        </form>
    </div>
</div>
{% endblock %}