{% extends "layout.html" %}
{% block title %}Edit Company{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}

<div class="container-fluid">
    <div class="h1">Edit Company</div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for
            name (required)
            address (required)
            city (required)
            state/country (use the country_state_selector)
            zip (required)
            website (not required)
            and prefill the fields with loaded company data
            #}
            <div class="form-group mb-3">
                <label for="name" class="form-label">name</label>
                <input id="name" class="form-control" name="name" type="text" value="{{ company.name }}">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->
            <div class="form-group mb-3">
                <label for="address" class="form-label">address</label>
                <input id="address" class="form-control" name="address" type="text" value="{{ company.address }}">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->
            <div class="form-group mb-3">
                <label for="website" class="form-label">website</label>
                <input id="website" class="form-control" name="website" type="text" value="{{ company.website }}">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->
            <div class="form-group mb-3">
                <label for="city" class="form-label">city</label>
                <input id="city" class="form-control" name="city" type="text" value="{{ company.city }}">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->

            {# use this for country/state selection #}
            {{country_state_selector(country=company.country, state=company.state)}}

            <div class="form-group mb-3">
                <label for="zip" class="form-label">zip</label>
                <input id="zip" class="form-control" name="zip" type="number" value="{{ company.zip }}">
            </div>
            <!-- UCID: vg473; Date: 04/08/23 -->

            <input type="submit" class="btn btn-primary" value="Save Company" />
        </form>
    </div>
</div>
{% endblock %}