{% extends "layout.html" %}
{% block title %}Company Directory{% endblock %}
{% block content %}
{% from "country_state_selector.html" import country_state_selector %}
{% from "sort_filter.html" import sort_filter %}
<div class="container-fluid">
    <div class="h1 text-center">Company Directory</div>
    {# TODO
    build a horizontal filter/sort form with
    name (show as company name but name field should be name)
    country/state (provided)
    sort/order (using allowed_columns and provided partial template)
    limit (default 10)
    ensure all fields prefill with request arg data if provided
    #}
    <form method="GET">
        <div class="row">
            <div class="col">
                <input id="name" class="form-control" placeholder="name" name="name" type="text"
                    value="{{ allowed_columns[0].value }}">
            </div>
            <!-- UCID: vc435; Date: 04/10/23 -->

            {{country_state_selector(layout="horizontal")}}
            {{sort_filter(cols=allowed_columns)}}
            <div class="col">
                <input id="limit" type="number" class="form-control" value="10" name="limit" />
            </div>
            <!-- UCID: vc435; Date: 04/10/23 -->
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Filter" />
            </div>
            <!-- UCID: vc435; Date: 04/10/23 -->
            <div class="col">
                <a href="?" class="btn btn-secondary">Reset</a>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table">
            {% if rows and rows|length > 0 %}
            <thead>
                <tr class="text-capitalize">
                    {# generate th tags for each column to display #}
                    {# IMPORTANT use table column names as the headings, replace _ with space via filter #}
                    <th>id</th>
                    <th>name</th>
                    <th>address</th>
                    <th>city</th>
                    <th>country</th>
                    <th>state</th>
                    <th>zip</th>
                    <th>website</th>
                    <th>employees</th>
                    <th>Actions</th>
                </tr>
                <!-- UCID: vc435; Date: 04/10/23 -->
            </thead>
            <tbody>
                {# generate tr with td tags for each piece of data #}
                {# if the td is for website, display it as a link where the text is "website" and the url is the
                website url #}
                {# in the last column add the following
                a view button that passes the company id to employee search (this will be a company employee
                directory) also pass company_name as an argument
                an edit button that passes the company id to company edit
                a delete button that passes the company id and the request args to the company delete route
                #}
                {% for row in rows %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.address }}</td>
                    <td>{{ row.city }}</td>
                    <td>{{ row.country }}</td>
                    <td>{{ row.state }}</td>
                    <td>{{ row.zip }}</td>
                    <td><a href="{{ row.website }}">website</a></td>
                    <td>{{ row.employees }}</td>
                    <td>
                        <a href="{{url_for('company.edit', id=row.id)}}">Edit</a>
                        <a href="{{url_for('company.delete', id=row.id)}}">Delete</a>
                    </td>
                    <!-- UCID: vc435; Date: 04/10/23 -->
                </tr>
                {% endfor %}

            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td colspan="100%">No results to show</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}